<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99941983520-d47tkofo35rffugctbc2t6aoibo1kd20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99941983520-d47tkofo35rffugctbc2t6aoibo1kd20</string>
	<key>API_KEY</key>
	<string>AIzaSyCF9L9c5OWsNmcM-MONhr2BvA-7xh0Y37Q</string>
	<key>GCM_SENDER_ID</key>
	<string>99941983520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warikanFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>tabikan-9ea00</string>
	<key>STORAGE_BUCKET</key>
	<string>tabikan-9ea00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99941983520:ios:c4841306c3f3d6d707a345</string>
</dict>
</plist>