<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222328646993-efj28d69udi60qo4jps8mai8v2sdlfe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222328646993-efj28d69udi60qo4jps8mai8v2sdlfe6</string>
	<key>API_KEY</key>
	<string>AIzaSyDwIfaKylAPnvFbHitNFjvh8h_aSPXoQ2c</string>
	<key>GCM_SENDER_ID</key>
	<string>222328646993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warikanFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>warikanfirebaserelease</string>
	<key>STORAGE_BUCKET</key>
	<string>warikanfirebaserelease.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:222328646993:ios:64b94e912971ff34333770</string>
</dict>
</plist>
